//- Mixin for Traditional Artwork gallery
//- ===================================================================================================
-
	var allTraditional = 
		[
		{"name": "Raindrops.jpg", "thumb": "Raindrops_thumb.jpg", "alt": "Ink Drawing 2010", "caption": "Raindrops, Ink Drawing 2010"},
		{"name": "GracVeda.jpg", "thumb": "GracVeda_thumb.jpg", "alt": "Ink Drawing 2011", "caption": "Gracy & Veda, Ink Drawing 2011"},
		{"name": "GraffWall.jpg", "thumb": "GraffWall_thumb.jpg", "alt": "Ink Drawing 2011", "caption": "Graffiti Wall, Ink Drawing 2011"},
		{"name": "Danger.jpg", "thumb": "Danger_thumb.jpg", "alt": "Ink Drawing 2011", "caption": "Danger, Ink Drawing 2011"},
		{"name": "Lighthouse.jpg", "thumb": "Lighthouse_thumb.jpg", "alt": "Ink Drawing 2012", "caption": "Lighthouse, Ink Drawing 2012"},
		{"name": "Cabin.jpg", "thumb": "cabin_thumb.jpg", "alt": "Ink Drawing 2013", "caption": "Cabin, Ink Drawing 2013"},
		{"name": "CrazyGracy.jpg", "thumb": "CrazyGracy_thumb.jpg", "alt": "Ink Drawing 2014", "caption": "Crazy Gracy, Ink Drawing 2014"},
		{"name": "RunwayShow.jpg", "thumb": "RunwayShow_thumb.jpg", "alt": "Woodcut 2010", "caption": "Runway, Woodcut 2010"},
		{"name": "Forsaken.jpg", "thumb": "Forsaken_thumb.jpg", "alt": "Woodcut 2010", "caption": "Forsaken, Woodcut 2010"},
		{"name": "Rooftops.jpg", "thumb": "Rooftops_thumb.jpg", "alt": "Woodcut 2011", "caption": "Rooftops, Woodcut 2011"},
		{"name": "Village.jpg", "thumb": "Village_thumb.jpg", "alt": "Woodcut 2011", "caption": "Village, Woodcut 2011"},
		{"name": "BrokenFence.jpg", "thumb": "BrokenFence_thumb.jpg", "alt": "Woodcut 2011", "caption": "Broken Fence, Woodcut 2011"},
		{"name": "Daydream.jpg", "thumb": "Daydream_thumb.jpg", "alt": "Woodcut 2011", "caption": "Daydream, Woodcut 2011"},
		{"name": "CaressedByDarkness.jpg", "thumb": "CaressedByDarkness_thumb.jpg", "alt": "Woodcut 2011", "caption": "Caressed By Darkness, Woodcut 2011"},
		{"name": "Honor.jpg", "thumb": "Honor_thumb.jpg", "alt": "Woodcut 2011", "caption": "Honor, Woodcut 2011"},
		{"name": "TheDuel.jpg", "thumb": "TheDuel_thumb.jpg", "alt": "Woodcut 2011", "caption": "The Duel, Woodcut 2011"}
		]
mixin traditional(works)
	each work in works
		a(href="../../assets/img/traditional/#{work.name}" data-caption="#{work.caption}"): img(src="../../assets/img/traditional/#{work.thumb}")

//- ===================================================================================================
//- Mixin for Digital Artwork gallery
//- ====================================================================================================
-
	var allDigital = 
		[
		{"name": "Shadows.jpg", "thumb": "shadows_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Shadows, Digital Painting 2013"},
		{"name": "crawlingCavern.jpg", "thumb": "crawlingCavern_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Crawling Cavern, Digital Painting 2013"},
		{"name": "faith.jpg", "thumb": "faith_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Faith, Digital Painting 2014"},
		{"name": "Hearts.jpg", "thumb": "hearts_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Hearts, Digital Painting 2014"},
		{"name": "Legend.jpg", "thumb": "Legend_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Legend, Digital Painting 2014"},
		{"name": "Picnic.jpg", "thumb": "picnic_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Picnic, Digital Painting 2014"},
		{"name": "RiverBank.jpg", "thumb": "RiverBank_thumb.jpg", "alt": "Digital Painting 2014", "caption": "River Bank, Digital Painting 2014"},
		{"name": "temple.jpg", "thumb": "temple_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Temple, Digital Painting 2014"},
		{"name": "TreePrint.jpg", "thumb": "tree_thumb.jpg", "alt": "Digital Painting 2013", "caption": "A Tree, Digital Painting 2014"},
		{"name": "Rawr.jpg", "thumb": "rawr_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Rawr, Digital Painting 2014"},
		{"name": "greatValley.jpg", "thumb": "greatValley_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Great Valley, Digital Painting 2014"}
		]
mixin digital(works)
	each work in works
		a(href="../../assets/img/digital/#{work.name}" data-caption="#{work.caption}"): img(src="../../assets/img/digital/#{work.thumb}")



//- ===================================================================================================
//- Mixin for Concept Artwork gallery
//- ====================================================================================================
-
	var allConcept = 
		[
		{"name": "Meeting.jpg", "thumb": "meeting_thumb.jpg", "alt": "Digital Painting 2012", "caption": "Meeting, Digital Painting 2012"},
		{"name": "Landscape.jpg", "thumb": "landscape_thumb.jpg", "alt": "Digital Painting 2012", "caption": "Landscape, Digital Painting 2012"},
		{"name": "BeneathTheSurface.jpg", "thumb": "BeneathTheSurface_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Beneath The Surface, Digital Painting 2013"},
		{"name": "destruction.jpg", "thumb": "destruction_thumb.jpg", "alt": "Destruction 2013", "caption": "Destruction, Digital Painting 2013"},
		{"name": "mercenary.jpg", "thumb": "mercenary_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Mercenary, Digital Painting 2013"},
		{"name": "Champion.jpg", "thumb": "Champion_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Champion, Digital Painting 2013"},
		{"name": "dreadnaught.jpg", "thumb": "dreadnaught_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Dreadnaught, Digital Painting 2013"},
		{"name": "graveyard.jpg", "thumb": "graveyard_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Graveyard, Digital Painting 2013"},
		{"name": "roofview.jpg", "thumb": "roofview_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Roofview, Digital Painting 2013"},
		{"name": "strikingBeauty.jpg", "thumb": "strikingBeauty_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Striking Beauty, Digital Painting 2013"},
		{"name": "Witch.jpg", "thumb": "witch_thumb.jpg", "alt": "Digital Painting 2013", "caption": "Witch, Digital Painting 2013"},
		{"name": "GracyVedaPaintF-001.jpg", "thumb": "gracyVeda_thumb.jpg", "alt": "Digital Painting 2014", "caption": "Gracy & Veda Comic Concept, Digital Painting 2014"}
		]
mixin concept(works)
	each work in works
		a(href="../../assets/img/concept/#{work.name}" data-caption="#{work.caption}"): img(src="../../assets/img/concept/#{work.thumb}")



//- ===================================================================================================
//- Mixin for design gallery
//- ====================================================================================================
